rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // App user data
    match /artifacts/{appId}/users/{uid}/userData/{doc} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }

    // Stripe customer data (written by the Firebase Stripe extension)
    match /customers/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;

      match /checkout_sessions/{id} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }

      match /subscriptions/{id} {
        allow read: if request.auth != null && request.auth.uid == uid;
      }

      match /payments/{id} {
        allow read: if request.auth != null && request.auth.uid == uid;
      }

      match /portal_links/{id} {
        allow read, write: if request.auth != null && request.auth.uid == uid;
      }
    }
  }
}
